In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
uri = "mongodb+srv://user:13730@cluster0.fahmd.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [2]:
# create a database 
client = MongoClient(uri, server_api=ServerApi('1'))
mydb=client["mydatabase"]

In [10]:
# check whether the database exsists
# in the mongoDB just creating the empty database wont show any output if u run the syntax
# once the inserting is done , then run the same commands , we can get the output
print(client.list_database_names())

['mydatabase', 'sample_mflix', 'admin', 'local']

In [9]:
dblist=client.list_database_names()
if "mydatabase" in dblist:
    print('The database exsists.')

The database exsists.

# Creating a Collection

In [5]:
mydb = client["mydatabase"]
mycol=mydb["customers"]

In [11]:
print(mydb.list_collection_names())

['customers']

# Insert into Collection

In [7]:
mydict = { "name": "surya", "address": "kothmaissling 37" }
x=mycol.insert_one(mydict)

In [8]:
print(mydb.list_collection_names())

['customers']

In [12]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }
x = mycol.insert_one(mydict)

In [13]:
# return the inserted id
# if we did not specify any id, the mongoDB will assign the unique ID for each document
print(x.inserted_id)

66deedd92f34cca8b9bfee2f

In [14]:
# insert multiple documents
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x=mycol.insert_many(mylist)
print(x.inserted_ids)

[ObjectId('66deee672f34cca8b9bfee30'), ObjectId('66deee672f34cca8b9bfee31'), ObjectId('66deee672f34cca8b9bfee32'), ObjectId('66deee672f34cca8b9bfee33'), ObjectId('66deee672f34cca8b9bfee34'), ObjectId('66deee672f34cca8b9bfee35'), ObjectId('66deee672f34cca8b9bfee36'), ObjectId('66deee672f34cca8b9bfee37'), ObjectId('66deee672f34cca8b9bfee38'), ObjectId('66deee672f34cca8b9bfee39'), ObjectId('66deee672f34cca8b9bfee3a'), ObjectId('66deee672f34cca8b9bfee3b')]

In [15]:
# Insert multiple documents,with specific Ids
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# Find

In [16]:
# gets the first document in the collection
mycol = mydb["customers"]
x=mycol.find_one()
print(x)

{'_id': ObjectId('66deed672f34cca8b9bfee2e'), 'name': 'surya', 'address': 'kothmaissling 37'}

In [17]:
# Find all 
for x in mycol.find():
    print(x)

{'_id': ObjectId('66deed672f34cca8b9bfee2e'), 'name': 'surya', 'address': 'kothmaissling 37'}
{'_id': ObjectId('66deedd92f34cca8b9bfee2f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66deee672f34cca8b9bfee30'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66deee672f34cca8b9bfee31'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66deee672f34cca8b9bfee32'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66deee672f34cca8b9bfee33'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66deee672f34cca8b9bfee34'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66deee672f34cca8b9bfee35'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66deee672f34cca8b9bfee36'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66deee672f34cca8b9bfee37'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66deee672f34cca8b9bfee38'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66deee672f34cca8b9bfee39'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66deee672f34cca8b9bfee3a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66deee672f34cca8b9bfee3b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [24]:
# return only some fields
# if the same objects are given different values it returns error
for x in mycol.find({},{"_id": 0, "name": 1, "address": 1}):
    print(x)

{'name': 'surya', 'address': 'kothmaissling 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [22]:
# if we mention one object  as 0 it returns other as 1 and viceversa
# same objects cannot be different
for x in mycol.find({},{ "_id": 0}):
  print(x)

{'name': 'surya', 'address': 'kothmaissling 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [25]:
for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('66deed672f34cca8b9bfee2e'), 'name': 'surya'}
{'_id': ObjectId('66deedd92f34cca8b9bfee2f'), 'name': 'Peter'}
{'_id': ObjectId('66deee672f34cca8b9bfee30'), 'name': 'Amy'}
{'_id': ObjectId('66deee672f34cca8b9bfee31'), 'name': 'Hannah'}
{'_id': ObjectId('66deee672f34cca8b9bfee32'), 'name': 'Michael'}
{'_id': ObjectId('66deee672f34cca8b9bfee33'), 'name': 'Sandy'}
{'_id': ObjectId('66deee672f34cca8b9bfee34'), 'name': 'Betty'}
{'_id': ObjectId('66deee672f34cca8b9bfee35'), 'name': 'Richard'}
{'_id': ObjectId('66deee672f34cca8b9bfee36'), 'name': 'Susan'}
{'_id': ObjectId('66deee672f34cca8b9bfee37'), 'name': 'Vicky'}
{'_id': ObjectId('66deee672f34cca8b9bfee38'), 'name': 'Ben'}
{'_id': ObjectId('66deee672f34cca8b9bfee39'), 'name': 'William'}
{'_id': ObjectId('66deee672f34cca8b9bfee3a'), 'name': 'Chuck'}
{'_id': ObjectId('66deee672f34cca8b9bfee3b'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

# Filter the Result

In [28]:
mycol=mydb["customers"]
myquery={"address":"Park Lane 38"}

mydoc=mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('66deee672f34cca8b9bfee38'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [31]:
# Advanced query
# search the addresses that starts with particular Alphabet
mycol=mydb["customers"]
myquery={"address":{"$regex":"^S"}}

mydoc=mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('66deee672f34cca8b9bfee35'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66deee672f34cca8b9bfee3b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [29]:
# advanced query
# we can search the addresses that starts with s or higher
mycol=mydb["customers"]
myquery={"address":{"$gt":"S"}}

mydoc=mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('66deed672f34cca8b9bfee2e'), 'name': 'surya', 'address': 'kothmaissling 37'}
{'_id': ObjectId('66deee672f34cca8b9bfee32'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66deee672f34cca8b9bfee35'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66deee672f34cca8b9bfee37'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66deee672f34cca8b9bfee3b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

# Sort the result

In [32]:
mycol=mydb["customers"]
# default will be ascending and can add 1 too in the argument
mydoc=mycol.find().sort("name,1") 

for x in mydoc:
    print(x)

{'_id': ObjectId('66deee672f34cca8b9bfee30'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66deee672f34cca8b9bfee38'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66deee672f34cca8b9bfee34'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66deee672f34cca8b9bfee3a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66deee672f34cca8b9bfee31'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66deee672f34cca8b9bfee32'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('66deedd92f34cca8b9bfee2f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66deee672f34cca8b9bfee35'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66deee672f34cca8b9bfee33'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66deee672f34cca8b9bfee36'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66deee672f34cca8b9bfee37'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66deee672f34cca8b9bfee3b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66deee672f34cca8b9bfee39'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66deed672f34cca8b9bfee2e'), 'name': 'surya', 'address': 'kothmaissling 37'}

In [33]:
# descending order
# here the argument goes like -1
mycol=mydb["customers"]
mydoc=mycol.find().sort("name",-1)

for x in mydoc:
    print(x)

{'_id': ObjectId('66deed672f34cca8b9bfee2e'), 'name': 'surya', 'address': 'kothmaissling 37'}
{'_id': ObjectId('66deee672f34cca8b9bfee39'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66deee672f34cca8b9bfee3b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66deee672f34cca8b9bfee37'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66deee672f34cca8b9bfee36'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66deee672f34cca8b9bfee33'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66deee672f34cca8b9bfee35'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('66deedd92f34cca8b9bfee2f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66deee672f34cca8b9bfee32'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('66deee672f34cca8b9bfee31'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('66deee672f34cca8b9bfee3a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('66deee672f34cca8b9bfee34'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66deee672f34cca8b9bfee38'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66deee672f34cca8b9bfee30'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

# Delete the document

In [34]:
mycol = mydb["customers"]
myquery={"address":"Mountain 21"}

mycol.delete_one(myquery)

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000022d'), 'opTime': {'ts': Timestamp(1725887690, 83), 't': 557}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1725887690, 83), 'signature': {'hash': b'\x15\xf4\xce\x17\x14r\xee\xefa\xfc\x92\xe0\x8c?\xc4\xb0]\xad\xd0\xb4', 'keyId': 7366707814242189313}}, 'operationTime': Timestamp(1725887690, 83)}, acknowledged=True)

In [35]:
# Delete many documents
# lets try to delete all the documents which address starts with S
mycol = mydb["customers"]
myquery={"address":{"$regex":"^S"}}

x=mycol.delete_many(myquery)

print(x.deleted_count,"documents deleted")

4 documents deleted

In [ ]:
# delete all the documents
mycol = mydb["customers"]
x = mycol.delete_many({})
print(x.deleted_count, " documents deleted.")

# Drop Collection

In [ ]:
mycol = mydb["customers"]
mycol.drop()

# Update Collection

In [36]:
# update one address to another
mycol=mydb["customers"]
myquery={"address":"Valley 345"}
newvalues={"$set":{"address":"Canyon 123"}}
mycol.update_one(myquery,newvalues)

for x in mycol.find():
    print(x)

{'_id': ObjectId('66deed672f34cca8b9bfee2e'), 'name': 'surya', 'address': 'kothmaissling 37'}
{'_id': ObjectId('66deedd92f34cca8b9bfee2f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66deee672f34cca8b9bfee30'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66deee672f34cca8b9bfee32'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('66deee672f34cca8b9bfee33'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('66deee672f34cca8b9bfee34'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('66deee672f34cca8b9bfee36'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('66deee672f34cca8b9bfee37'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('66deee672f34cca8b9bfee38'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('66deee672f34cca8b9bfee39'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('66deee672f34cca8b9bfee3a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}

In [38]:
# update many
mycol = mydb["customers"]
myquery = { "address": { "$regex": "^M" } }
newvalues = { "$set": { "name": "Minnie" } }
x = mycol.update_many(myquery, newvalues)
print(x.modified_count, "documents updated.")

3 documents updated.

# Limit

In [39]:
mycol = mydb["customers"]
myresult = mycol.find().limit(5)

for x in myresult:
    print(x)

{'_id': ObjectId('66deed672f34cca8b9bfee2e'), 'name': 'surya', 'address': 'kothmaissling 37'}
{'_id': ObjectId('66deedd92f34cca8b9bfee2f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('66deee672f34cca8b9bfee30'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('66deee672f34cca8b9bfee32'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('66deee672f34cca8b9bfee33'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}