In [4]:
import mysql.connector

In [5]:
# crating connection to the database
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Suryateja@123"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000028E2F204760>

# Creating a Database

In [4]:
# using the CREATE DATABASE statement to create the database
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE mydatabase")

In [5]:
# checking the available databases
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

# Creating a Table

In [9]:
# connect the created database
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Suryateja@123",
    database="mydatabase"
)

mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [10]:
# checking whther the table exists
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

# Primary Key

In [ ]:
# the statement "INT AUTO_INCREMENT PRIMARY KEY", will insert a unique number for each record.starting at 1, and increased by one for each record
# this is for adding the primary key to the new table 
# As we have already created the table, it shows error
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [12]:
# creating the primary key for already exsisting table
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

# Insert

In [13]:
# inserting the record in to the table
mycursor=mydb.cursor()

sql="INSERT INTO customers (name,address) VALUES (%s,%s)"
val=("surya","Kothmaissling 37")
mycursor.execute(sql,val)

# this command is needed to make the changes made in the table
mydb.commit()

print(mycursor.rowcount,"record inserted")

1 record inserted

In [17]:
# insert multiple rows
sql="INSERT INTO customers (name,address) VALUES (%s,%s)"
val=[
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount," was inserted")

13  was inserted

In [18]:
# getting the recent inserted row, and if we have inserted more then it shows last ID of that inserted list
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)
mydb.commit()
print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 42

# Select From

In [1]:
# selecting the columns
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Suryateja@123",
    database="mydatabase"
)
mycursor = mydb.cursor()
mycursor.execute("SELECT name, address FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('surya', 'Kothmaissling 37')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

In [2]:
# using the fetch one method
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchone()
print(myresult)

('surya', 'Kothmaissling 37', 1)

# where

In [8]:
# always create a new cursor for multiple usage so that it wont raise any problems or errors
# select with a filter
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Suryateja@123",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ben', 'Park Lane 38', 11)
('Ben', 'Park Lane 38', 25)
('Ben', 'Park Lane 38', 38)

In [12]:
# wildcard characters
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Suryateja@123",
    database="mydatabase"
)
mycursor = mydb.cursor()
sql = "SELECT * FROM customers WHERE address LIKE '%ling%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('surya', 'Kothmaissling 37', 1)

In [13]:
# prevent sql injection
mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vicky', 'Yellow Garden 2', 10)
('Vicky', 'Yellow Garden 2', 24)
('Vicky', 'Yellow Garden 2', 37)

# Order By

In [14]:
# order them in a ascending order
mycursor = mydb.cursor()
sql = "SELECT * FROM customers ORDER BY name"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('Amy', 'Apple st 652', 3)
('Amy', 'Apple st 652', 30)
('Amy', 'Apple st 652', 17)
('Ben', 'Park Lane 38', 11)
('Ben', 'Park Lane 38', 25)
('Ben', 'Park Lane 38', 38)
('Betty', 'Green Grass 1', 7)
('Betty', 'Green Grass 1', 34)
('Betty', 'Green Grass 1', 21)
('Chuck', 'Main Road 989', 27)
('Chuck', 'Main Road 989', 40)
('Chuck', 'Main Road 989', 13)
('Hannah', 'Mountain 21', 4)
('Hannah', 'Mountain 21', 31)
('Hannah', 'Mountain 21', 18)
('Michael', 'Valley 345', 19)
('Michael', 'Valley 345', 5)
('Michael', 'Valley 345', 32)
('Michelle', 'Blue Village', 15)
('Michelle', 'Blue Village', 42)
('Peter', 'Lowstreet 4', 2)
('Peter', 'Lowstreet 4', 29)
('Peter', 'Lowstreet 4', 16)
('Richard', 'Sky st 331', 8)
('Richard', 'Sky st 331', 22)
('Richard', 'Sky st 331', 35)
('Sandy', 'Ocean blvd 2', 20)
('Sandy', 'Ocean blvd 2', 33)
('Sandy', 'Ocean blvd 2', 6)
('surya', 'Kothmaissling 37', 1)
('Susan', 'One way 98', 23)
('Susan', 'One way 98', 36)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 24)
('Vicky', 'Yellow Garden 2', 10)
('Vicky', 'Yellow Garden 2', 37)
('Viola', 'Sideway 1633', 28)
('Viola', 'Sideway 1633', 14)
('Viola', 'Sideway 1633', 41)
('William', 'Central st 954', 26)
('William', 'Central st 954', 12)
('William', 'Central st 954', 39)

In [15]:
# descending order
mycursor = mydb.cursor()
sql = "SELECT * FROM customers ORDER BY name DESC"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('William', 'Central st 954', 12)
('William', 'Central st 954', 26)
('William', 'Central st 954', 39)
('Viola', 'Sideway 1633', 28)
('Viola', 'Sideway 1633', 14)
('Viola', 'Sideway 1633', 41)
('Vicky', 'Yellow Garden 2', 37)
('Vicky', 'Yellow Garden 2', 10)
('Vicky', 'Yellow Garden 2', 24)
('Susan', 'One way 98', 36)
('Susan', 'One way 98', 9)
('Susan', 'One way 98', 23)
('surya', 'Kothmaissling 37', 1)
('Sandy', 'Ocean blvd 2', 33)
('Sandy', 'Ocean blvd 2', 6)
('Sandy', 'Ocean blvd 2', 20)
('Richard', 'Sky st 331', 35)
('Richard', 'Sky st 331', 8)
('Richard', 'Sky st 331', 22)
('Peter', 'Lowstreet 4', 2)
('Peter', 'Lowstreet 4', 29)
('Peter', 'Lowstreet 4', 16)
('Michelle', 'Blue Village', 15)
('Michelle', 'Blue Village', 42)
('Michael', 'Valley 345', 5)
('Michael', 'Valley 345', 19)
('Michael', 'Valley 345', 32)
('Hannah', 'Mountain 21', 18)
('Hannah', 'Mountain 21', 31)
('Hannah', 'Mountain 21', 4)
('Chuck', 'Main Road 989', 13)
('Chuck', 'Main Road 989', 27)
('Chuck', 'Main Road 989', 40)
('Betty', 'Green Grass 1', 7)
('Betty', 'Green Grass 1', 34)
('Betty', 'Green Grass 1', 21)
('Ben', 'Park Lane 38', 25)
('Ben', 'Park Lane 38', 11)
('Ben', 'Park Lane 38', 38)
('Amy', 'Apple st 652', 17)
('Amy', 'Apple st 652', 30)
('Amy', 'Apple st 652', 3)

# Delete From By

In [16]:
mycursor = mydb.cursor()
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

3 record(s) deleted

In [28]:
# preventing the sql injection
mycursor = mydb.cursor()
sql = "DELETE FROM customers WHERE address = %s"
adr=('Sky st 331',)
mycursor.execute(sql,adr)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

3 record(s) deleted